:root {
  --header-color-gray: rgb(242, 242, 242);
  --header-text-color-dark-gray: rgb(148, 149, 154);
  --header-color-orange: rgb(255, 112, 88);
  --header-text-color-black: rgb(18, 13, 38);
  --color-white: rgb(243, 238, 238);
  --color-hover-button: #F3EEEEFF;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --font-Poppins: 'Poppins', sans-serif;


  --transition: all ease 0.2s;
}