@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --header-color-gray: rgb(242, 242, 242);
  --header-text-color-dark-gray: rgb(148, 149, 154);
  --header-color-orange: rgb(255, 112, 88);
  --header-text-color-black: rgb(18, 13, 38);
  --color-white: rgb(243, 238, 238);
  --color-hover-button: #f3eeeeff;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-Poppins: "Poppins", sans-serif;
  --transition: all ease 0.2s;
}

a {
  text-decoration: none;
}

*:not(:empty) {
  font-family: var(--font-Poppins);
}

.header--size {
  min-height: 100vh;
  max-width: calc(100vw - 164px);
  margin: 0 auto;
  padding-top: 30px;
}
.header__title {
  font-size: clamp(20px, 5vw, 50px);
  font-weight: var(--font-weight-700);
  text-wrap: nowrap;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.menu-box {
  display: none;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  min-width: 37.3vw;
  column-gap: 3.25vw;
}
.menu-list__item--border-right {
  padding-right: 30px;
}
.menu-list__item--border-left {
  display: flex;
  column-gap: 46px;
}
.menu-list__item--border-left::before {
  content: "";
  border-left: 2px solid var(--header-color-gray);
}
.menu-list__link {
  font-size: 18px;
  font-weight: var(--font-weight-600);
  text-wrap: nowrap;
}
.menu-list__link:not(#menu-login, #menu-singUp) {
  color: var(--header-text-color-dark-gray);
  padding-bottom: 5px;
}
@media (hover: hover) {
  .menu-list__link:not(#menu-login, #menu-singUp):hover {
    color: var(--header-color-orange);
    border-bottom: 2px solid var(--header-color-orange);
  }
}
.menu-list__link-singup {
  color: var(--color-white);
  transition: var(--transition);
}
.menu-list__link--border {
  padding: 12px 24px;
  background-color: var(--header-text-color-black);
  border-radius: 10px;
  transition: var(--transition);
}
@media (hover: hover) {
  .menu-list__link--border:hover {
    background-color: var(--color-white);
    color: var(--header-text-color-black);
  }
}
.menu-list__link-login {
  transition: var(--transition);
  color: var(--header-text-color-black);
}
@media (hover: hover) {
  .menu-list__link-login:hover {
    color: var(--header-color-orange);
  }
}

@media (max-width: 1100px) {
  .header--size {
    max-width: calc(100vw - 100px);
  }
}
@media (max-width: 1024px) {
  .header--size {
    max-width: calc(100vw - 100px);
  }
  .menu-list {
    display: none;
  }
  .menu-box {
    display: flex;
    position: relative;
    align-items: center;
    color: var(--header-text-color-dark-gray);
  }
  .menu-box__bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: clamp(18px, 5vw, 27px);
    height: 20px;
  }
  .menu-box__bar-item {
    background-color: currentColor;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    transition: var(--transition);
  }
  .menu-box__bar:hover .menu-box__bar-item {
    background-color: var(--header-color-orange);
  }
  .menu-box__bar:hover {
    cursor: pointer;
  }
  .menu-box-list {
    display: none;
    position: absolute;
    top: 5%;
    right: 95%;
    flex-direction: column;
    padding: 10px 15px 15px 15px;
  }
  .menu-box-list__item {
    padding-bottom: 2px;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .menu-box-list {
    top: -18%;
  }
}
@media (max-width: 400px) {
  .menu-box-list {
    top: 110%;
    left: -360%;
  }
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*# sourceMappingURL=styles.css.map */
