    
    
    /* min() - возвращает наименьшее значение из списка значений,
    которые передаются в качестве параметров. */
    /* max() - возвращает наибольшее значение из списка значений,
    которые передаются в качестве параметров. */
    /* clamp() - принимает три значения: минимальное значение, желаемое значение и максимальное значение.
    Если желаемое значение находится в пределах минимального и максимального значения, то возвращается желаемое значение. Если желаемое значение меньше минимального, то возвращается минимальное значение. Если желаемое значение больше максимального, то возвращается максимальное значение. */

    /* calc является обычным калькулятором для вычисления значения параметра. 
    Между значениями обязательно должны быть пробелы */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    height: 50px;
    background-color: cadetblue;
}
.box2 {
    height: calc(100vh - 50px);
    background-color: coral;
}
.box3 {
    width: max(200px, 50%);
    color: blue;
}
.box4 {
    width: min(200px, 50%);
    color: red;
}
.box5 {
    width: clamp(200px, 50%, 500px);
    color: green;
}