* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw 1vh;
}
.box {
    width: 200px;
    height: 200px;
    border: 4px solid #000;
    color: #000;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.red {
    background-color: red;
    flex-basis: 200px; /*Устанавливает изначальную ширину вне зависимости от width и height*/
    order: 10; /*Устанавливает порядок элемента внутри контейнера*/
}
.blue {
    background-color: blue;
    flex: 1 0 200px; /* flex-grow: 1; flex-shrink: 0; flex-basis: 200px; */
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
    order: 9;
}
.purple {
    background-color: purple;
}
.orange {
    background-color: orange;
}