body {
    background-color: #6255AA;
}
div {
    width: 100px;
    height: 100px;
    background: #DE88AF;
    border-radius: 50%;
}
  div::before {
    content: ' ';
    display: block;
    width: 80%;
    height: 80%;
    background-color: #fff;
  }