:root {
    --font-text-main: 20px;
    --margin-main: 20px;
}
body {
    background-repeat: no-repeat;
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(250,159,75,0.7932422969187676) 100%);
}
a {
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-inline: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vw;
}

/*Header*/

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
}
header nav img[alt="иконка"] {
    width: 5.2vw;
    height: 5.2vw;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    width: 70%;
    column-gap: 2vw;
}
.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4vw;
}
.menu-item a {
    opacity: 0.5;
    transition: all 0.5s ease;
}
.menu-item a:hover {
    opacity: 1;
}

/*Main*/

main {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    font-size: var(--font-text-main);
    margin-top: var(--margin-main);
}