<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yogi - Home</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="header__logo link--text-decoration">Yogi</a>

      <div class="header__menu">
        <nav class="header__menu-box header__menu-box--border-right">
          <ul class="header__menu-list">
            <li class="header__menu-item header__menu-item--distance">
              <a class="header__menu-link link--text-decoration" href="#"
                >Pricing</a
              >
            </li>
            <li class="header__menu-item header__menu-item--distance">
              <a class="header__menu-link link--text-decoration" href="#"
                >About Us</a
              >
            </li>
            <li class="header__menu-item header__menu-item--distance">
              <a class="header__menu-link link--text-decoration" href="#"
                >Contact</a
              >
            </li>
          </ul>
        </nav>

        <nav class="header__menu-box header__menu-box--padding-left">
          <ul class="header__menu-list">
            <li class="header__menu-item">
              <a
                class="header__menu-link header__menu-link--black-color link--text-decoration header__menu-link--size"
                href="#"
                >Login</a
              >
            </li>
            <li class="header__menu-item header__menu-item--position-in-block">
              <a
                class="header__menu-link link--text-decoration header__menu-link--white-color header__menu-link--size"
                href="#"
                >Sign Up</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
