<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yogi - Home</title>
</head>
<body>
    <header class="header">
        <div class="logo">Yogi</div>
        <div class="header__menu">
            <nav class="">
                <ul class="header__menu-list">
                    <li class="header__menu-item">Pricing</li>
                    <li class="header__menu-item">About Us</li>
                    <li class="header__menu-item">Contact</li>
                </ul>
            </nav>
            <nav>
                <ul class="header__menu-list">
                    <li class="header__menu-item">Login</li>
                    <li class="header__menu-item header__menu-item--black-background">Sign Up</li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>