<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yogi - Home</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <header class="header">
      <a href="#" class="header__logo link--text-decoration">Yogi</a>

      <nav class="navigation__menu navigation__menu--height">
        <ul
          class="menu__list menu__list--border-right menu__list--height menu__list--align"
        >
          <li class="menu__item menu__item--distance">
            <a
              class="menu__link link--text-decoration menu__link--size link__hover link__hover--hover"
              href="#"
              >Pricing</a
            >
          </li>

          <li class="menu__item menu__item--distance">
            <a
              class="menu__link link--text-decoration menu__link--size link__hover link__hover--hover"
              href="#"
              >About Us</a
            >
          </li>

          <li class="menu__item">
            <a
              class="menu__link link--text-decoration menu__link--size link__hover link__hover--hover"
              href="#"
              >Contact</a
            >
          </li>
        </ul>

        <ul class="menu__list menu__list--padding-left">
          <li class="menu__item menu__item--distance-right">
            <a
              class="menu__link link--text-decoration menu__link--size link__hover link__hover--hover"
              href="#"
              >Login</a
            >
          </li>
          <li class="menu__item">
            <a
              class="menu__link menu__link--white-color link--text-decoration menu__link--button-size menu__link--button-align menu__link--background-black menu__link--border menu__link--button-hover link__hover"
              href="#"
              >Sign Up</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
