:root {
    --white-color: #fff;
    --black-color: #000;
    --black-background: #120D26;
    --black-color: #29253C;
    --gray-color: #94959A;
    --gray-lite-color: #D0CFD4;
    --orange-color: #FF7058;
    --orange-lite-background: #FF70580D;
    --yellow-color: #FFC042;

    --font-72: 72px;
    --font-20: 20px;
    --font-18: 18px;
    --font-48: 48px;
    --font-16: 16px;
    --font-22: 22px;
    --font-40: 40px;
    --font-20: 20px;
    --font-54: 54px;
    --font-24: 24px;
    --font-15: 15px;

    --font-family: 'Poppins';
}
