.box {
    /* вендорные префиксы для свойства */

    -webkit-animation: 2s ease; /* Свойство для задания анимации в браузерах на основе WebKit (например, Safari, старые версии Chrome) */

    -moz-animation: 2s ease;    /* Свойство для задания анимации в браузерах на основе Gecko (например, старые версии Firefox) */

    -ms-animation: 2s ease;     /* Свойство для задания анимации в браузерах на основе Trident (например, старые версии Internet Explorer) */

    -o-animation: 2s ease;      /* Свойство для задания анимации в браузерах на основе Presto (например, старые версии Opera) */

    animation: 2s ease;         /* Стандартное свойство для задания анимации, поддерживаемое современными браузерами */

    /* вендорные префиксы для значения */

    display: -webkit-box;       /* Значение для свойства display в браузерах на основе WebKit */
    display: -moz-box;          /* Значение для свойства display в браузерах на основе Gecko */
    display: -ms-box;           /* Значение для свойства display в браузерах на основе Trident */
    display: -o-box;            /* Значение для свойства display в браузерах на основе Presto */
    display: box;               /* Стандартное значение для свойства display, поддерживаемое современными браузерами */

}

/* вендорные префиксы для псевдокласса */

input::-webkit-input-placeholder {
    /* стилизация плейсхолдера в браузерах на основе WebKit */
    color: red;
}
input::-moz-placeholder {
    /* стилизация плейсхолдера в браузерах на основе Gecko */
    color: red;
}
input:-ms-input-placeholder {
    /* стилизация плейсхолдера в браузерах на основе Trident */
    color: red;
}
input:-moz-placeholder {
    /* стилизация плейсхолдера в браузерах на основе Presto */
    color: red;
}
input::placeholder {
    /* стилизация плейсхолдера в современных браузерах */
    color: red;
}
html {
    /* эксперементальное свойство */
    -webkit-font-smoothing: antialiased; /* сглаживание шрифтов в браузерах на основе WebKit */
    -moz-osx-font-smoothing: grayscale;  /* сглаживание шрифтов в браузерах на основе Gecko */
}

/*Проверка поддержки свойства mask-clip в браузере. */

/* Запасное значение (фоллбэк) для свойства mask-clip в браузерах, не поддерживающих это свойство без вендерных префиксов */

body {
    background: url('image.jpg') center / cobver no-repeat #000000; 
}

/* Проверка поддержки свойства mask-clip в браузере */
@supports (mask-clip: view-box) {
    /* Елси браузер поддерживает свойство, то оно отобразится */
}