{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "always",
  "proseWrap": "always",
  "bracketSpacing": true,
  "objectCurlySpacing": "always",
  "arrayBracketSpacing": "always"
}
